@use 'src/styles/colors';
@use '../../../../styles/_btn.scss';
.btn{
  margin-top: 10px;
}
.repo {
  padding: 15px;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  .lang {
    text-align: right;
    min-height: 28.4px;
    .langPill {
      display: inline-block;
      padding: 2px 5px;
      border-radius: 10px;
      border: 1px solid #eee;
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
  }
  .name {
    margin-bottom: 5px;
    .repoIcon {
      fill: darkcyan;
      margin-right: 5px;
      margin-bottom: -2px;
      opacity: 0.4;
    }
    .btnLink {
      font-size: 1.1rem;
      text-decoration: none;
    }
  }
  .description {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .info {
    font-size: 0.9rem;
    .star {
      fill: darkcyan;
      margin-right: 5px;
      margin-bottom: -2px;
    }
    .updateDate {
      margin-left: 15px;
    }
    .license {
      margin-left: 15px;
    }
    .issues {
      margin-left: 15px;
    }
  }
  .footer {
    text-align: right;
    font-size: .9rem;
    .btn {
      margin-left: 7px;
      padding: 3px;
      .github {
        fill: darkcyan;
      }
      &:hover {
        .github {
          fill: white;
        }
      }
    }

  }
}




