@use '../styles/_colors';
.pagination {
  list-style: none;
  display: flex;
  border-radius: 0.25rem;
  margin-block-start: 10px;
  margin-block-end: 10px;
  padding-inline-start: 0;
}
.pageLink, .previous a, .next a {
  color: colors.$mainColor;
  padding: 5px 7px;
}
.pageLink:hover, .previous a:hover, .next a:hover {
  cursor: pointer;
  color: darkcyan;
}