.release {
  padding: 5px 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .tagName {
    svg {
      margin-right: 5px;
      fill: darkcyan;
    }
  }
  .date, .author, .tagName {
    margin-right: 15px;
    margin-bottom: 7px;
    span {
      margin-left: 5px;
    }
  }
  .author {
    display: flex;
    align-items: center;
  }
}