@use '../../../../styles/_btn.scss';
.btn{
  margin-top: 10px;
  margin-right: 15px;
  padding: 5px 0 2px 0;
  svg {
    fill: darkcyan;
  }
  &:hover {
    svg {
      fill: white;
    }
  }
}
.stars, .forks {
  margin-right: 15px;
  svg {
    margin-right: 5px;
    fill: darkcyan;
  }
}
.repo {
  display: inline-block;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    display: flex;
    margin: 0 -15px;
  }
  .repoHeader {
    @media (min-width: 768px) {
      padding: 15px 15px 15px 0;
      width: 20%;
    }

    .forks {
      margin-left: 15px;
      svg {
        margin-right: 5px;
        fill: darkcyan;
      }
    }

    .lang {
      text-align: right;
      min-height: 28.4px;
    }

    .langPill {
      display: inline-block;
      padding: 2px 5px;
      border-radius: 10px;
      border: 1px solid #eee;
      font-size: 0.8rem;
      margin-bottom: 5px;
    }

    .stars {
      svg {
        margin-right: 5px;
        fill: darkcyan;
      }
    }

    .btn {
      display: block;
      width: max-content;
    }
  }
  .repoInfo {
    > .subTitle {
      margin-top: 0;
    }
    @media (min-width: 768px) {
      padding: 0 15px;
      width: 40%;
    }
    .description {
      margin-bottom: 15px;
    }
    .watchersCount, .license {
      margin-right: 15px;
      svg {
        margin-right: 5px;
        fill: darkcyan;
      }
    }
    .contributors {
      margin-top: 25px;
    }
  }
}